<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title>Zones</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.3/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.3/jquery.min.js}"></script>
</head>

<!-- view to list zones. lists zones and provides buttons to run or edit each one.
"Run Zone" link leads to run method on ZoneController.java
"Edit Zone" link leads to edit/{id} method in ZoneController.java -->


<body>
<!-- Insert content into the layouts/layout.html -->
<th:block layout:fragment="content">

	<div th:insert="navbar :: navbar">  </div>
	
	<h3>Zones</h3>

	<table>
		<tr th:each="zone : ${sprinklerZones}">
			<td th:text="${zone.zoneName}">A Zone</td>
			<td><a class="nav-link" th:href="@{/sprinklerZone/run/{id}(id=${zone.sprinklerZoneId})}">Run Zone</a></td>
			<td><a th:href="@{/sprinklerZone/edit/{id}(id=${zone.sprinklerZoneId})}">Edit Zone</a></td>
		</tr>
	</table>
</th:block>
</body>
</html>